@model Camaro.Feature.Components.Models.Home.IFeedback
@using Glass.Mapper.Sc.Web.Mvc

@if (Model.ClassStyle == "Classchange")
{
    <section class="testimonials-style-one home-page-two">
        <div class="container">
            <div class="title-block text-center">
                <span class="tag-line">@Model.Heading</span><!-- /.tag-line -->
                <h2>@Model.Title</h2>
            </div><!-- /.title-block -->
            <div class="owl-carousel owl-theme testi-carousel-one">
                @if (Model.fblist != null && Model.fblist.Count() > 0)
                {
                    foreach (var item in Model.fblist)
                    {
                        <div class="item">
                            <div class="single-testimonials-one">
                                <div class="image-block">
                                    @Html.Glass().RenderImage(item, x => x.Image, isEditable: true)
                                </div><!-- /.image-block -->
                                <p>
                                    @item.LinkDescription
                                </p>
                                <h3>@item.Name</h3>
                                <p class="designation">@item.LinkTitle</p><!-- /.designation -->
                            </div><!-- /.single-testimonials-one -->
                        </div><!-- /.item -->
                    }
                }

            </div><!-- /.owl-carousel owl-theme testi-carousel-one -->
        </div><!-- /.container -->
    </section><!-- /.testimonials-style-one -->
}
else
{
    <section class="testimonials-style-one">


        <div class="container">
            <div class="title-block text-center">
                <span class="tag-line">@Model.Heading</span><!-- /.tag-line -->
                <h2>@Model.Title</h2>
            </div><!-- /.title-block -->
            <div class="owl-carousel owl-theme testi-carousel-one">
                @if (Model.fblist != null && Model.fblist.Count() > 0)
                {
                    foreach (var item in Model.fblist)
                    {
                        <div class="item">
                            <div class="single-testimonials-one">
                                <div class="image-block">
                                    @Html.Glass().RenderImage(item, x => x.Image, isEditable: true)
                                </div><!-- /.image-block -->
                                <p>
                                    @item.LinkDescription
                                </p>
                                <h3>@item.Name</h3>
                                <p class="designation">@item.LinkTitle</p><!-- /.designation -->
                            </div><!-- /.single-testimonials-one -->
                        </div><!-- /.item -->
                    }
                }

            </div><!-- /.owl-carousel owl-theme testi-carousel-one -->
        </div><!-- /.container -->
    </section><!-- /.testimonials-style-one -->
}
