@model Camaro.Feature.Components.Models.About.IOurTeam
@using Glass.Mapper.Sc.Web.Mvc

<section class="team-style-one">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">@Html.Glass().Editable(Model, x => x.Heading)</span><!-- /.tag-line -->
            <h2>@Html.Glass().Editable(Model, x => x.Title)</h2>
        </div><!-- /.title-block -->
        <div class="row">
            @if (Model.ListItems != null && Model.ListItems.Count() > 0)
            {

                foreach (var item in Model.ListItems)
                {

                    <div class="col-lg-4">
                        <div class="single-team-one text-center  wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="0ms">
                            <div class="image-block">
                                @Html.Glass().RenderImage(item, x => x.Image, isEditable: true)
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <h3>@Html.Glass().Editable(item, x => x.TeamName)</h3>
                                <p>@Html.Glass().Editable(item, x => x.Position)</p>
                                <div class="social-block">
                                    @using (Html.Glass().BeginRenderLink(item, x => x.FBlink, isEditable: true))
                                    {
                                        <i class="fa fa-facebook-f"></i>
                                    }
                                    @using (Html.Glass().BeginRenderLink(item, x => x.TWlink, isEditable: true))
                                    {
                                        <i class="fa fa-twitter"></i>
                                    }
                                    @using (Html.Glass().BeginRenderLink(item, x => x.VMlink, isEditable: true))
                                    {
                                        <i class="fa fa-vimeo"></i>
                                    }
                                    @using (Html.Glass().BeginRenderLink(item, x => x.LNlink, isEditable: true))
                                    {
                                        <i class="fa fa-linkedin"></i>
                                    }
                                    
                                </div><!-- /.social-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-one -->
                    </div><!-- /.col-lg-4 -->
                }
            }
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.team-style-one -->